<!DOCTYPE html>

<html lang="ro">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="SilverScalpel">
		<meta name="description" content="Prima clinica din Estul Europei medialiata pentru serviciile complete oferite.">
		<meta name="keywords" content="Operatii, Consultatii, Analize, Recomadari, Sfaturi, Compasiune">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<title>Clinica SilverScalpel</title>
		<link rel="stylesheet" href="Scripts/CSS/Styles.css" type="text/css">
	</head>
	<body>
		<header>
			<figure>
				<img src="1.png" alt="imgnotfound">
			</figure>
		</header>
			<%- include('../fragments/header')  %> 
		<main>
		<h1>
			Error 404. Page was not found!
		</h1>
		</main>
	<%- include('../fragments/footer')  %> 
</html>