<!DOCTYPE html>

<html lang="ro">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="SilverScalpel">
		<meta name="description" content="Informatii referitare la angajatii Clinici SilverScalpel, specialisi intr-o varietate larga de domenii precum chirurgie, chirurgie plastica si altele.">
		<meta name="keywords" content="Chirurg, Chirurg-Plstician, Medic-specialist, Specialist-boli infectoase, Sepcialist-Dermatologie">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
		<title>Contact SilverScalpel</title>
		<link rel="stylesheet" href="../Scripts/CSS/Styles.css" type="text/css">
	</head>
	<body>
		<section class="back-contact">
			<%- include("../fragments/header") %>
		</section>
		<section class="content-general">
			<section id="#galery" class="animated-galery">
				<figure>
					<img src="galery1.jpg" alt="imagine1" />
				</figure>
				<figure>
					<img src="galery2.jpg" alt="imagine2" />
				</figure>
				<figure>
					<img src="galery3.jpg" alt="imagine3" />
				</figure>
				<figure>
					<img src="galery4.jpg" alt="imagine4" />
				</figure>
				<figure>
					<img src="galery5.jpg" alt="imagine5" />
				</figure>
			</section>
		</section>
		<%- include("../fragments/footer") %>
	</body>
</html>
