<html lang="ro">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="SilverScalpel">
		<meta name="description" content="Informatii referitare la angajatii Clinici SilverScalpel, specialisi intr-o varietate larga de domenii precum chirurgie, chirurgie plastica si altele.">
		<meta name="keywords" content="Chirurg, Chirurg-Plstician, Medic-specialist, Specialist-boli infectoase, Sepcialist-Dermatologie">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<title>Personal SilverScalpel</title>
		<link rel="stylesheet" href="../Scripts/CSS/Styles.css" type="text/css">
		<link rel="stylesheet" href="../Scripts/CSS/PersonalStyles.css" type="text/css">
	</head>
	<body>
		<section class="back-personal">
			<%- include("../fragments/header") %>
		</section>
		<section class="content-personal">
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
			<div class="container-person">
				<div class="container-person-upper">
					<figure>
						<img src="person-personal.png" alt="PozaAngajat">
					</figure>
				</div>
				<div class="container-person-lower">
					<h2>Doctor in doctorie</h2>
					<p>Marcel-Gigel</p><p>Premiul1</p><p>Premiul2</p>
				</div>
			</div>
		</section>
		<%- include("../fragments/footer") %>
	</body>
</html>
