<!DOCTYPE html>

<html lang="ro">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="SilverScalpel">
		<meta name="description" content="Informatii referitoare la serviciile ce pot fi contractate prin clinica SilverScalpel incluzand operatii analize, servicii curative, servicii la domiciliu, dar si multe altele">
		<meta name="keywords" content="Operatii, Consult, Analize, Recomandari, Scanari">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<title>Servicii SilverScalpel</title>
		<link rel="stylesheet" href="../Scripts/CSS/Styles.css" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<section class="back-servicii">
				<%- include("../fragments/header") %>
		</section>
		<section class="content-general">
			<div class="search-container">
				<button type="submit"><i class="fa fa-search"></i></button>
				<input type="text" placeholder="Search..">
			</div>
			<div class="content-general-item" id="analize">
			<div class="fade-out">
				<h2>Analize - 100RON</h2>
				<p>Clinica SilverScalpel ofera o intreaga gama de analize</p>
				<p>Clinica SilverScalpel ofera o intreaga gama de analize</p>
				<p>Clinica SilverScalpel ofera o intreaga gama de analize</p>
				<p>Clinica SilverScalpel ofera o intreaga gama de analize</p>
			</div>
			</div>
			<div class="content-general-item" id="servcurative">
			<div class="fade-out">
				<h2>Servicii medicale curative pentru urgente medico-chirurgicale - 300RON</h2>
				<p>Asiguraţii au dreptul la servicii medicale pentru vindecarea bolii, pentru prevenirea complicaţiilor ei, pentru recuperarea sau cel puţin pentru ameliorarea suferinţei, după caz. Tratamentul medical se aplică de către medici sau asistenţi medicali şi de alt personal sanitar, la indicaţia şi sub supravegherea medicului.</p>
				<p>Asiguraţii au dreptul la servicii medicale pentru vindecarea bolii, pentru prevenirea complicaţiilor ei, pentru recuperarea sau cel puţin pentru ameliorarea suferinţei, după caz. Tratamentul medical se aplică de către medici sau asistenţi medicali şi de alt personal sanitar, la indicaţia şi sub supravegherea medicului.</p>
				<p>Asiguraţii au dreptul la servicii medicale pentru vindecarea bolii, pentru prevenirea complicaţiilor ei, pentru recuperarea sau cel puţin pentru ameliorarea suferinţei, după caz. Tratamentul medical se aplică de către medici sau asistenţi medicali şi de alt personal sanitar, la indicaţia şi sub supravegherea medicului.</p>
				<p>Asiguraţii au dreptul la servicii medicale pentru vindecarea bolii, pentru prevenirea complicaţiilor ei, pentru recuperarea sau cel puţin pentru ameliorarea suferinţei, după caz. Tratamentul medical se aplică de către medici sau asistenţi medicali şi de alt personal sanitar, la indicaţia şi sub supravegherea medicului.</p>
			</div>
			</div>
			<div class="content-general-item" id="servdomiciliu">
			<div class="fade-out">
				<h2>Servicii medicale la domiciliu - 350RON</h2>
				<p>Pacientul asigurat are dreptul la ingrijiri medicale la domiciliu 90 zile/an, fiind necesara o recomandare medicala de la medicul specialist la externarea din spital, din ambulatoriu sau medicul de familie.</p>
				<p>Pacientul asigurat are dreptul la ingrijiri medicale la domiciliu 90 zile/an, fiind necesara o recomandare medicala de la medicul specialist la externarea din spital, din ambulatoriu sau medicul de familie.</p>
				<p>Pacientul asigurat are dreptul la ingrijiri medicale la domiciliu 90 zile/an, fiind necesara o recomandare medicala de la medicul specialist la externarea din spital, din ambulatoriu sau medicul de familie.</p>
				<p>Pacientul asigurat are dreptul la ingrijiri medicale la domiciliu 90 zile/an, fiind necesara o recomandare medicala de la medicul specialist la externarea din spital, din ambulatoriu sau medicul de familie.</p>
			</div>
			</div>
			<div class="content-general-item" id="activsuport">
			<div class="fade-out">
				<h2>Activitati de suport - 500RON</h2>
				<p>Alaturi de echipa medicala pregatita pentru orice eventualitate oferim suport in activitatile cotidiene</p>
				<p>Alaturi de echipa medicala pregatita pentru orice eventualitate oferim suport in activitatile cotidiene</p>
				<p>Alaturi de echipa medicala pregatita pentru orice eventualitate oferim suport in activitatile cotidiene</p>
				<p>Alaturi de echipa medicala pregatita pentru orice eventualitate oferim suport in activitatile cotidiene</p>
				<p>Alaturi de echipa medicala pregatita pentru orice eventualitate oferim suport in activitatile cotidiene</p>
				<p>Alaturi de echipa medicala pregatita pentru orice eventualitate oferim suport in activitatile cotidiene</p>
			</div>
			</div>
		</section>
			<%- include("../fragments/footer") %>
	</body>
</html>
