		<footer class="homefoot">
			<ul>
				<li> Adresa de email:<br/><a href="mailto:ion.drumet@abcd.ro">silverscalpel@abcd.ro</a></li>
				<li> Numarul de telefon al biroului de informatii:<br/>0268919475</li>
				<li class="last"><i>Fax:</i>Sincer sa fiu nici nu stiu cum arata o adresa de fax</li>
			</ul>
		</footer>